doctype html
html
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/form.css')
    title Add Message  
  body
    header
      h1 Add New Message
    main
      form(method="POST", action="/new")
      
        labe1(for="name") Name
        input(type="text", id="name", name="messageUser", required)
        label(for="message") Message
        textarea(id="message", rows="6", name="messageText" required)
        button(type="submit") Submit